<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Details Investment</title>

        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>

        <h1>Correction by <%= id_to_name[correction.corrector_id] %></h1><br>

        <form action="/correction/<%=correction.id%>/update" method="post">
            <div>
                <label>Beschrijving:</label>
                <input type="text" name="description" value="<%=correction.description%>"/>
            </div>
            <div>
                <label>Amount:</label>
                <input type="text" name="amount" value="<%=correction.amount%>"/>
            </div>
            <div>
                <label>Personen:</label><br>
                <% for(let i = 0; i < roommates.length; i++) {%>
                    <% 
                        var result = false;
                        for (let j = 0; j < correction.corrected_ids.length; j++) {
                            if (roommates[i].id == correction.corrected_ids[j]) {
                                result = true;
                            }
                        }
                    %>
                    <input type="checkbox" name="roommate" value='<%= roommates[i].id %>' <% if(result) { %> checked <% } %>>
                    <%= roommates[i].house_name %><br>
                <% } %>
            <div>
                <input type="submit" value="Update" />
            </div>
        </form>

        <form action='/correction/<%=correction.id%>/delete' method='post'>
            <input type="submit" value="Delete">
        </form>
    </body>
</html>