<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <% include ../partials/head %>
        <script src="/js/clickable-row.js"></script>
    </head>
    <body>
        <% include ../partials/nav %>

        <table class='table'>
            <% for (let i = 0; i < corrections.length; i++) { %>
                <tr class='clickable-row' data-href='/correction/<%=corrections[i].id%>'>
                    <td><%= corrections[i].date.getDate() %>/<%= corrections[i].date.getMonth() + 1 %>/<%= corrections[i].date.getFullYear() %></td>
                    <td><%= id_to_name[corrections[i].corrector_id] %>
                    <td><%= corrections[i].amount %></td>
                    <td><%= corrections[i].description %></td>
                    <td><ul>
                    <% for (let j = 0; j < corrections[i].corrected_ids.length; j++) { %>
                        <li><%= id_to_name[corrections[i].corrected_ids[j]] %></li>
                    <% } %>

                    </ul></td>
                </tr>
            <% } %>
        </table>
    </body>
</html>